/* РАСПИСАНИЕ */

.schedule__title {
    position: relative;
    animation: title_moving 2.8s ease-in-out infinite;
}

@keyframes title_moving {
    0% {
        transform: translate(-10vw, -4vw);
    }

    25% {
        transform: translate(10vw, -1vw);
    }

    50% {
        transform: translate(12vw, 6vw);
    }

    75% {
        transform: translate(-9vw, 4vw);
    }

    100% {
        transform: translate(-10vw, -4vw);
    }
}

/*падающий текст фестиваля*/
.festival-text.fall {
    position: relative;
}

.festival-text.fall .ch {
    position: relative;
}

.festival-text.fall:hover .row:nth-child(1) .ch {
    animation: fallRow1 0.9s ease-out forwards;
}

.festival-text.fall:hover .row:nth-child(2) .ch {
    animation: fallRow2 0.9s ease-out forwards;
}

.festival-text.fall:hover .row:nth-child(3) .ch {
    animation: fallRow3 0.9s ease-out forwards;
}

/* траектории для трёх строк */

@keyframes fallRow1 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    40% {
        transform: translate(0.05em, 2.5em) rotate(10deg);
    }

    70% {
        transform: translate(-0.1em, 4.5em) rotate(20deg);
    }

    100% {
        transform: translate(0.2em, 6.5em) rotate(28deg);
    }
}

@keyframes fallRow2 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    40% {
        transform: translate(0.04em, 2.0em) rotate(8deg);
    }

    70% {
        transform: translate(-0.08em, 3.5em) rotate(18deg);
    }

    100% {
        transform: translate(0.15em, 5.3em) rotate(24deg);
    }
}

@keyframes fallRow3 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    40% {
        transform: translate(0.03em, 1.2em) rotate(6deg);
    }

    70% {
        transform: translate(-0.06em, 2.4em) rotate(14deg);
    }

    100% {
        transform: translate(0.12em, 4.0em) rotate(20deg);
    }
}


.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(1) {
    animation-delay: 0.27s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(2) {
    animation-delay: 0.05s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(3) {
    animation-delay: 0.38s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(4) {
    animation-delay: 0.12s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(5) {
    animation-delay: 0.45s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(6) {
    animation-delay: 0.19s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(7) {
    animation-delay: 0.52s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(8) {
    animation-delay: 0.08s;
}

.festival-text.fall:hover .row:nth-child(1) .ch:nth-child(9) {
    animation-delay: 0.33s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(1) {
    animation-delay: 0.41s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(2) {
    animation-delay: 0.16s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(3) {
    animation-delay: 0.57s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(4) {
    animation-delay: 0.23s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(5) {
    animation-delay: 0.49s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(6) {
    animation-delay: 0.30s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(7) {
    animation-delay: 0.64s;
}

.festival-text.fall:hover .row:nth-child(2) .ch:nth-child(8) {
    animation-delay: 0.11s;
}

.festival-text.fall:hover .row:nth-child(3) .ch:nth-child(1) {
    animation-delay: 0.22s;
}

.festival-text.fall:hover .row:nth-child(3) .ch:nth-child(2) {
    animation-delay: 0.51s;
}

.festival-text.fall:hover .row:nth-child(3) .ch:nth-child(3) {
    animation-delay: 0.17s;
}

.festival-text.fall:hover .row:nth-child(3) .ch:nth-child(4) {
    animation-delay: 0.59s;
}

.festival-text.fall:hover .row:nth-child(3) .ch:nth-child(5) {
    animation-delay: 0.36s;
}

.festival-text.fall:hover .row:nth-child(3) .ch:nth-child(6) {
    animation-delay: 0.07s;
}

/* бинарные ряды */

.b {
    position: relative;
}

.b0::after,
.b1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* слой с обратной цифрой по умолчанию скрыт */
}

.b0::after {
    content: "1";
}

.b1::after {
    content: "0";
}

@keyframes bitFlip {
/* туда сюда/исходная/обратная */
    0%,
    35% {
        opacity: 0;
    }

    36%,
    65% {
        opacity: 1;
    }

    66%,
    100% {
        opacity: 0;
    }

}

.binary .b::after {
    animation-name: bitFlip;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.binary__row .b:nth-child(3n)::after {
    animation-delay: 0.0s;
}

.binary__row .b:nth-child(3n+1)::after {
    animation-delay: 0.4s;
}

.binary__row .b:nth-child(3n+2)::after {
    animation-delay: 0.8s;
}

/* логотип поворот */

@keyframes logo-spin {
    from {
        transform: translate(-50%, -50%) rotate(12deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(372deg);
    }
}

.logo {
    animation: logo-spin 14s linear infinite;
}

/* бегущая строка*/

.err__line {
    animation: err-move 25s linear infinite;
}

/* исчезновение части текста*/
.err__line .er1:hover {
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

@keyframes err-move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* глитч типо */
.lec_glitch .lec_title {
    animation: lec-glitch-title 0.8s steps(2, end) infinite;
}

/* тоже глитч на единицу */
.lec_glitch .lec_one {
    animation: lec-glitch-one 0.8s steps(2, end) infinite;
}

@keyframes lec-glitch-title {
    0% {
        transform: translate(0, 0);
        text-shadow: 0 0 0 #fff;
    }

    10% {
        transform: translate(-1px, 1px);
        text-shadow: -2px 0 #ff00ff, 2px 0 #00ffff;
    }

    20% {
        transform: translate(2px, -1px);
        text-shadow: 2px 0 #ff00ff, -2px 0 #00ffff;
    }

    30% {
        transform: translate(-1px, -2px);
        text-shadow: -2px 0 #ff00ff, 2px 0 #00ffff;
    }

    40% {
        transform: translate(1px, 2px);
        text-shadow: 2px 0 #ff00ff, -2px 0 #00ffff;
    }

    50% {
        transform: translate(0, 0);
        text-shadow: 0 0 0 #fff;
    }

    60% {
        transform: translate(1px, -1px);
        text-shadow: 2px 0 #ff00ff, -2px 0 #00ffff;
    }

    70% {
        transform: translate(-2px, 1px);
        text-shadow: -2px 0 #ff00ff, 2px 0 #00ffff;
    }

    80% {
        transform: translate(1px, 1px);
        text-shadow: 2px 0 #ff00ff, -2px 0 #00ffff;
    }

    90% {
        transform: translate(-1px, 0);
        text-shadow: -2px 0 #ff00ff, 2px 0 #00ffff;
    }

    100% {
        transform: translate(0, 0);
        text-shadow: 0 0 0 #fff;
    }
}


/* для единицы */
@keyframes lec-glitch-one {
    0% {
        transform: rotate(90deg) translate(0, 0);
        text-shadow: 0  #fff;
    }

    10% {
        transform: rotate(90deg) translate(-1px, 1px);
        text-shadow: -3px 0 #ff00ff, 3px 0 #00ffff;
    }

    20% {
        transform: rotate(90deg) translate(2px, -1px);
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
    }

    30% {
        transform: rotate(90deg) translate(-1px, -2px);
        text-shadow: -3px 0 #ff00ff, 3px 0 #00ffff;
    }

    40% {
        transform: rotate(90deg) translate(1px, 2px);
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
    }

    50% {
        transform: rotate(90deg) translate(0, 0);
        text-shadow: 0 #fff;
    }

    60% {
        transform: rotate(90deg) translate(1px, -1px);
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
    }

    70% {
        transform: rotate(90deg) translate(-2px, 1px);
        text-shadow: -3px 0 #ff00ff, 3px 0 #00ffff;
    }

    80% {
        transform: rotate(90deg) translate(1px, 1px);
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
    }

    90% {
        transform: rotate(90deg) translate(-1px, 0);
        text-shadow: -3px 0 #ff00ff, 3px 0 #00ffff;
    }

    100% {
        transform: rotate(90deg) translate(0, 0);
        text-shadow: 0 0 0 #fff;
    }
}
.lec_char_img {
    animation: charPulse 3.6s ease-in-out infinite;
    transform-origin: center bottom;
}
@keyframes charPulse {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.25) rotate(-2deg);
    }

    18% {
        transform: scale(0.9) rotate(1deg);
    }

    28% {
        transform: scale(1.15) rotate(-0.8deg);
    }

    38% {
        transform: scale(0.95);
    }

    60% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}