* {
    box-sizing: border-box;
}
@font-face {
    font-family: "HelveticaBold";
    src: url("./fonts/HelveticaBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #ffffff;
    font-family: "Fira Code", monospace;

    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.frame {
    border: 1px solid #ffffff;
}

/* ПЕРВЫЙ ЭКРАН */

.schedule {
    padding: 2.8vw 0;
    display: flex;
    justify-content: center;
}

.schedule__inner {
    position: relative;
    width: 94%;
    margin: 0 auto;
    background: #101010;
}

.schedule__top {
    height: 23.6vw;
    max-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.8vw;
    border-bottom: 1px solid #ffffff;
}

.schedule__title {
    margin: 0;
    font-size: 14vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.schedule__bottom {
    display: flex;
    height: 23.6vw;
    max-height: 340px;
}


.schedule__festival {
    flex: 0 0 50%;
    padding: 2.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #101010;
    border-right: 1px solid #ffffff;
    overflow: hidden;
}

.festival-text {
    margin: 0;
    font-size: 5.55vw;
    font-weight: 400;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}

.festival-text .row {
    display: inline-block;
}

.festival-text .ch {
    display: inline-block;
}

/* бинарный код */

.schedule__binary {
    flex: 0 0 25%;
    background: #101010;
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.binary {
    width: 100%;
    height: 100%;
    padding: 0.8vw 0.8vw 1.4vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4vw;
}

.binary__row {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 0.85;
    white-space: nowrap; 
    /* чтобы не переносилось на новую строку */
    font-size: 0;
    /* чтобы плотно стояли */
}

.b {
    display: inline-block;
    font-size: 1.39vw;
    line-height: 1;
}

.mrow {
    display: none;
    /* спец-строка только для мобилки*/
}

/* логотип */

.schedule__logo {
    flex: 0 0 25%;
    background: #e5e5e5;
    position: relative;
    overflow: hidden;
}

/* чёрный квадрат */
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 84%;
    background: #000;
    transform: translate(-50%, -50%) rotate(12deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* текст OOPS */
.t {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 8vw;
    line-height: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4vw;
    transform: translate(25%, -8%);
}

.oo {
    transform: rotate(3deg);
}

.ps {
    transform: rotate(92deg) translateY(-20%);
}
/* бегущая строка */

.err {
    margin-top: 0;
}

.err__in {
    height: 103px;
    background: #ffffff;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.err__line {
    display: inline-flex;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
}

.err__line .er {
    display: inline-block;
}

.lec {
    margin-top: 2.8vw;
    background: #101010;
    padding-left: 3vw;
    padding-right: 3vw;
}

.lec_wrap {
    background: #101010;
}


/* 2 блок */
.lec_row {
    display: flex;
    width: 100%;
    height: 22vw;
    min-height: 18vw;
}

/* ячейки */
.lec_cell {
    flex: 1 1 0;
    padding: 2.2vw 2.2vw 2.6vw;
    aspect-ratio: 1 / 1;
    background: #101010;
}

/* вертикальные линии между колонками */
.lec_cell+.lec_cell {
    border-left: 0.1vw solid #ffffff;
}

/* текст */

/* ЛЕКЦИЯ*/
.lec_title {
    color: #fff;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
}

/* ERROR 404 */
.lec_err_title {
    margin: 0;
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.lec_body {
    margin: 0 0 1vw;
    color: #fff;
    font-size: 1.4vw;
    line-height: 1.1;
}

/* внутри ячеек */
.lec_glitch {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* лежащая единица */
.lec_one {
    position: absolute;
    left: 1vw;
    bottom: 4vw;
    transform-origin: center bottom;
    transform: translateX(-50%) rotate(90deg);
    color: #FFF;
    font-size: 14vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.lec_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* персонаж */
.lec_char {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lec_char_img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}