* {
    box-sizing: border-box;
}
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #ffffff;
    font-family: "Fira Code", monospace;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

