* {
    box-sizing: border-box;
}
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #ffffff;
    font-family: "Fira Code", monospace;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.frame {
    border: 1px solid #ffffff;
}

/* ПЕРВЫЙ ЭКРАН */

.schedule {
    padding: 3vw 0;
    display: flex;
    justify-content: center;
}

.schedule_in {
    position: relative;
    width: 94%;
    margin: 0 auto;
    background: #101010;
}

.schedule_top {
    height: 23.6vw;
    max-height: 23.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.8vw;
    border-bottom: 1px solid #ffffff;
}

/* раписание */
.schedule_title {
    font-size: 14vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

/* нижняя часть первого блока */
.schedule_bottom {
    display: flex;
    height: 23.6vw;
    max-height: 23.6vw;
}

/* блок падающих букв */
.schedule_festival {
    flex: 0 0 50%;
    padding: 2.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #101010;
    border-right: 1px solid #ffffff;
    overflow: hidden;
}

.festival-text {
    margin: 0;
    font-size: 5.55vw;
    font-weight: 400;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    
}

.festival-text .row {
    display: inline-block;
}

.festival-text .ch {
    display: inline-block;
}

/* бинарный код */
.schedule__binary {
    flex: 0 0 25%;
    background: #101010;
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.binary {
    width: 100%;
    height: 100%;
    padding: 0.8vw 0.8vw 1.4vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4vw;
}

.binary__row {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 0.85;
    white-space: nowrap; 
    /* чтобы не переносилось на новую строку */
    font-size: 0;
    /* чтобы плотно стояли */
}

.b {
    display: inline-block;
    font-size: 1.39vw;
    line-height: 1;
}

.mrow {
    display: none;
    /* спец-строка только для мобилки, вызываю ее в адаптиве*/
}

/* логотип */

.schedule_logo {
    flex: 0 0 25%;
    background: #e5e5e5;
    position: relative;
    overflow: hidden;
}

/* чёрный квадрат */
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 84%;
    background: #000;
    transform: translate(-50%, -50%) rotate(12deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* текст OOPS */
.t {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 8vw;
    line-height: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4vw;
    transform: translate(25%, -8%);
}

.oo {
    transform: rotate(3deg);
}

.ps {
    transform: rotate(92deg) translateY(-20%);
}


/* бегущая строка */
.err {
    margin-top: 0;
}

.err_in {
    height: 7.15vw;
    background: #ffffff;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.err_line {
    display: inline-flex;
    white-space: nowrap;
    font-size: 3.15vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #101010;
}


/* БЛОК 2 */
.lec {
    margin-top: 2.8vw;
    background: #101010;
    padding-left: 3vw;
    padding-right: 3vw;
}

.lec_wrap {
    background: #101010;
}

/* 1 строка */
.lec_row {
    display: flex;
    width: 100%;
    height: 22vw;
    min-height: 18vw;
}

/* ячейки */
.lec_cell {
    flex: 1 1 0;
    padding: 2.2vw 2.2vw 2.2vw;
    aspect-ratio: 1 / 1;
    background: #101010;
}

/* вертикальные линии между колонками */
.lec_cell+.lec_cell {
    border-left: 0.1vw solid #ffffff;
}


/* ЛЕКЦИЯ*/
.lec_title {
    color: #fff;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
}

/* ERROR 404 */
.lec_err_title {
    margin: 0;
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.lec_body {
    margin: 0 0 1vw;
    color: #fff;
    font-size: 1.4vw;
    line-height: 1.1;
}

/* внутри ячеек */
.lec_glitch {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* лежащая единица */
.lec_one {
    position: absolute;
    left: 1vw;
    bottom: 4vw;
    transform-origin: center bottom;
    transform: translateX(-50%) rotate(90deg);
    color: #FFF;
    font-size: 14vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.lec_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* персонаж */
.lec_char {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lec_char_img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}


/* БЛОК С ФОТО */
.block2 {
    margin-top: -0.052vw;
    padding: 0 3vw;
    background: #101010;
}

.block2_in {
    display: flex;
    width: 100%;
    background: #101010;
}

/* левая и правая части */
.block-left,
.block-right {
    display: flex;
}

.block-left {
    flex: 0 0 52%;
}

.block-right {
    flex: 0 0 48%;
}

/* колонки */
.col {
    display: flex;
    flex-direction: column;
}

/* левая колонка */
.col-left {
    flex: 0 0 67%;
}

/* средняя колонка */
.col-middle {
    flex: 0 0 33%;
}

/* правая колонка */
.col-right {
    flex: 0 0 100%;
}

/* текстовые блоки */
.text-box2 {
    background: #101010;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    font-size: 1.6vw;
    letter-spacing: 8%;
    text-transform: uppercase;
    height: 7vw;
    box-sizing: border-box;
    border: 0.03vw solid #fff;
}

/* фото */
.photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(0.12vw);
    box-sizing: border-box;
    border: 0.05vw solid #fff;
    
}

/* распределение высот*/
/* левая колонка: сверху текст, снизу фото */
.col-left .lecture {
    flex: 0 0 7vw;
}
.col-left .under-lecture {
    flex: 1 1 auto;
}

/* средняя колонка: фото, текст, фото */
.col-middle .top-two, .two, .under-two {
    flex: 0 0 7vw;
}

/* правая колонка */
.col-right .top-error, .error {
    flex: 0 0 7vw;
}

/* строка 403 */
.row-403 {
    display: flex;
    flex: 0 0 7vw;
}

.row-403 .near-403 {
    flex: 0 0 67%;
}

.row-403 .code403 {
    flex: 0 0 33%;
}


/* БЛОК С ПУСТОТОЙ */
.empty {
    margin-top: -0.1vw;
    justify-content: center;
}

.empty-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1357 / 636;
    background: #101010;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* диагональ 1: из левого верхнего в правый нижний */
.empty-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 141%;
    height: 1px;
    background: #fff;
    transform-origin: 0 0;
    transform: rotate(25.1deg);
}

/* диагональ 2: из левого нижнего в правый верхний */
.empty-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 141%;
    height: 1px;
    background: #fff;
    transform-origin: 0 100%;
    transform: rotate(-25.1deg);
}

/* текст */
.empty-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
}

.type .line {
    display: flex;
    justify-content: center;
    gap: 0;
}

.c {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #101010;
    font-weight: 400;
    line-height: 100%;
    text-transform: lowercase;
    padding: 0.10em 0.06em;
    font-size: 2.2vw;
}



/* MEMORY OVERLAP*/
.mo {
    margin-top: -0.1vw;;
}

.mo-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1357 / 1350;
    background: #101010;
    overflow: hidden;
}

/* табличка (лекция) */
.mo-lec {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.2vw 3.8vw;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 1.6vw;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.mo-w {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18.4vw;
    line-height: 1;
    white-space: nowrap;
    transform-origin: left bottom;
}

/* БЛОК С РЕГИСТРАЦИЕЙ */
.reg {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #101010;
}

.reg_i {
    width: 100%;
    min-height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.reg_t {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 6.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.reg_l {
    width: 8vw;
    height: 8vw;
    display: block;
}

/* БЛОК С ВЫХОДОМ */
.ex {
    background: #101010;
    display: flex;
    justify-content: center;
}

.ex_in {
    width: 100%;
}

.ex_t {
    margin: 0 0 1.6vw;
    color: #fff;
    font-family: "Fira Code", monospace;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 1.09;
}

/* общий контейнер */
.ex_g {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #fff;
    box-sizing: border-box;
}

/* клетка */
.ex_c {
    height: 9vw;
    background: #101010;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/* убираю линии, чтобы не дублировалось */
.ex_c3,
.ex_c6,
.ex_c9 {
    border-right: none;
}

.ex_c7,
.ex_c8,
.ex_c9 {
    border-bottom: none;
}

.ex_c1 {
    width: 25%;
}

.ex_c2 {
    width: 25%;
}

.ex_c3 {
    width: 50%;
}

.ex_c4 {
    width: 25%;
}

.ex_c5 {
    width: 25%;
}

.ex_c6 {
    width: 50%;
}

.ex_c7 {
    width: 50%;
}

.ex_c8 {
    width: 25%;
}

.ex_c9 {
    width: 25%;
}

/* фото-слоты */
.ex_bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(0.12vw);
    z-index: 1;
}

/* текст на ховере */
.ex_tx {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2vw;
    box-sizing: border-box;
    color: #fff;
    font-family: "Fira Code", monospace;
    font-size: 2.1vw;
    font-weight: 400;
    line-height: 109%;
    opacity: 0;
    pointer-events: none;
}

/* “ВЫХОД” */
.ex_x {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ex_btn {
    background: #fff;
    color: #101010;
    font-family: "Fira Code", monospace;
    font-size: 1.64vw;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    padding: 1.2vw 4.2vw;
    box-sizing: border-box;
}

/* ховеры */
.ex_e:hover .ex_tx {
    opacity: 1;
}

.ex_x:hover .ex_btn {
    opacity: 0;
}

.ex_x:hover .ex_tx {
    opacity: 1;
}

.ex_a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ex_ar {
    position: relative;
    z-index: 2;
    width: 30%;
    height: auto;
}

.ex_c2 .ex_bg { background-image: url("../images/pic4.jpg"); }
.ex_c4 .ex_bg { background-image: url("../images/pic2.jpg"); }
.ex_c6 .ex_bg { background-image: url("../images/pic3.jpg"); }


/* ФУТЕР */
.info {
    background: #101010;
    padding: 2.4vw 0;
    display: flex;
    justify-content: center;
}

.info_in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

/* колонки */
.info_l,
.info_r {
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}


/* подписи */
.info_lbl {
    color: #fff;
    opacity: 0.7;
    font-family: Inter, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 100%;
}

/* имена/группа */
.info_name {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 100%;
}

/* логотип */
.info_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.info_img {
    width: 20vw;
    max-width: 420px;
    height: auto;
    display: block;
}