* {
    box-sizing: border-box;
}
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #ffffff;
    font-family: "Fira Code", monospace;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.frame {
    border: 1px solid #ffffff;
}

/* ПЕРВЫЙ ЭКРАН */

.schedule {
    padding: 2.8vw 0;
    display: flex;
    justify-content: center;
}

.schedule_in {
    position: relative;
    width: 94%;
    margin: 0 auto;
    background: #101010;
}

.schedule_top {
    height: 23.6vw;
    max-height: 23.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.8vw;
    border-bottom: 1px solid #ffffff;
}

/* раписание */
.schedule_title {
    margin: 0;
    font-size: 14vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

/* нижняя часть первого блока */
.schedule_bottom {
    display: flex;
    height: 23.6vw;
    max-height: 23.6vw;
}

/* блок падающих букв */
.schedule_festival {
    flex: 0 0 50%;
    padding: 2.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #101010;
    border-right: 1px solid #ffffff;
    overflow: hidden;
}

.festival-text {
    margin: 0;
    font-size: 5.55vw;
    font-weight: 400;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    
}

.festival-text .row {
    display: inline-block;
}

.festival-text .ch {
    display: inline-block;
}

/* бинарный код */

.schedule__binary {
    flex: 0 0 25%;
    background: #101010;
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.binary {
    width: 100%;
    height: 100%;
    padding: 0.8vw 0.8vw 1.4vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4vw;
}

.binary__row {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 0.85;
    white-space: nowrap; 
    /* чтобы не переносилось на новую строку */
    font-size: 0;
    /* чтобы плотно стояли */
}

.b {
    display: inline-block;
    font-size: 1.39vw;
    line-height: 1;
}

.mrow {
    display: none;
    /* спец-строка только для мобилки, вызываю ее в адаптиве*/
}

/* логотип */

.schedule_logo {
    flex: 0 0 25%;
    background: #e5e5e5;
    position: relative;
    overflow: hidden;
}

/* чёрный квадрат */
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 84%;
    background: #000;
    transform: translate(-50%, -50%) rotate(12deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* текст OOPS */
.t {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 8vw;
    line-height: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4vw;
    transform: translate(25%, -8%);
}

.oo {
    transform: rotate(3deg);
}

.ps {
    transform: rotate(92deg) translateY(-20%);
}


/* бегущая строка */
.err {
    margin-top: 0;
}

.err__in {
    height: 7.15vw;
    background: #ffffff;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.err__line {
    display: inline-flex;
    white-space: nowrap;
    font-size: 3.15vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
}

.err__line .er {
    display: inline-block;
}

.lec {
    margin-top: 2.8vw;
    background: #101010;
    padding-left: 3vw;
    padding-right: 3vw;
}

.lec_wrap {
    background: #101010;
}

/* 1 строка */
.lec_row {
    display: flex;
    width: 100%;
    height: 22vw;
    min-height: 18vw;
}

/* ячейки */
.lec_cell {
    flex: 1 1 0;
    padding: 2.2vw 2.2vw 2.6vw;
    aspect-ratio: 1 / 1;
    background: #101010;
}

/* вертикальные линии между колонками */
.lec_cell+.lec_cell {
    border-left: 0.1vw solid #ffffff;
}

/* текст */

/* ЛЕКЦИЯ*/
.lec_title {
    color: #fff;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
}

/* ERROR 404 */
.lec_err_title {
    margin: 0;
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.lec_body {
    margin: 0 0 1vw;
    color: #fff;
    font-size: 1.4vw;
    line-height: 1.1;
}

/* внутри ячеек */
.lec_glitch {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* лежащая единица */
.lec_one {
    position: absolute;
    left: 1vw;
    bottom: 4vw;
    transform-origin: center bottom;
    transform: translateX(-50%) rotate(90deg);
    color: #FFF;
    font-size: 14vw;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.lec_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* персонаж */
.lec_char {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lec_char_img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.block2 {
    margin-top: -0.052vw;
    padding: 0 3vw;
    background: #101010;
}

.block2-inner {
    display: flex;
    width: 100%;
    background: #101010;
}

/* левая и правая части */
.block-left,
.block-right {
    display: flex;
}

.block-left {
    flex: 0 0 52%;
}

.block-right {
    flex: 0 0 48%;
}

/* колонки */
.col {
    display: flex;
    flex-direction: column;
}

/* левая широкая колонка */
.col-left {
    flex: 0 0 67%;
}

/* узкая средняя колонка */
.col-middle {
    flex: 0 0 33%;
}

/* правая колонка занимает всю правую часть */
.col-right {
    flex: 1 1 auto;
}

/* текстовые блоки */
.text-box2 {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    font-size: 1.6vw;
    letter-spacing: 8%;
    text-transform: uppercase;
    height: 7vw;
    box-sizing: border-box;
    border: 0.03vw solid #fff;
}

/* фото */
.photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(0.12vw);
    transition: filter 0.35s ease;
    box-sizing: border-box;
}

/* распределение высот*/

/* левая колонка: сверху текст, снизу фото */
.col-left .lecture {
    flex: 0 0 7vw;
}

.col-left .under-lecture {
    flex: 1 1 auto;
}

/* средняя колонка: фото, текст, фото */
.col-middle .top-two {
    flex: 0 0 7vw;
}

.col-middle .two {
    flex: 0 0 7vw;
}

.col-middle .under-two {
    flex: 1 1 auto;
}

/* правая колонка */
.col-right .top-error {
    flex: 0 0 7vw;
}

.col-right .error {
    flex: 0 0 7vw;
}

/* строка 403 */
.row-403 {
    display: flex;
    flex: 0 0 7vw;
}

.row-403 .near-403 {
    flex: 1 1 auto;
}

.row-403 .code403 {
    flex: 0 0 33%;
}


/* БЛОК С ПУСТОТОЙ */
.empty {
    margin-top: -0.1vw;
    justify-content: center;
}

.empty-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1357 / 636;
    background: #101010;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* диагональ 1: из левого верхнего в правый нижний */
.empty-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 141%;
    height: 1px;
    background: #fff;
    transform-origin: 0 0;
    transform: rotate(25.1deg);
}

/* диагональ 2: из левого нижнего в правый верхний */
.empty-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 141%;
    height: 1px;
    background: #fff;
    transform-origin: 0 100%;
    transform: rotate(-25.1deg);
}

/* текст */
.empty-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
}

.type .line {
    display: flex;
    justify-content: center;
    gap: 0;
}

.c {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;
    font-weight: 400;
    line-height: 100%;
    text-transform: lowercase;
    padding: 0.10em 0.06em;
}

.small .c {
    font-size: 2.2vw;
}

.big .c {
    font-size: 2.2vw;
}

/* MEMORY OVERLAP*/

.mo {
    margin-top: -0.1vw;;
}

.mo-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1357 / 1350;
    background: #101010;
    overflow: hidden;
}

/* табличка (лекция) */
.mo-lec {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.2vw 3.8vw;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-family: "Fira Code", monospace;
    font-size: 1.6vw;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.mo-w {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18.4vw;
    line-height: 1;
    white-space: nowrap;
    transform-origin: left bottom;
    z-index: 2;
}